table, tr, td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.2em 0.5em;
}

img {
 border-style: none;
}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.7em;
}

#datecontrol {

}

#plot{
    height: 85%;
}

#standardfooter{
  margin-top: 1.5em;
  border-top: 1px solid black;
}

.jqplot-xaxis{
  margin-top:1.2em;
}

#plot, #standardfooter{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}

#footer{
    height:40px;
}



#gpl {
    float: left;
    margin-top: 1.3em;
    margin-right:2%;
    width: 33%;
    text-align: right;
}

#currentTemp{
    margin-top: 0.65em;
    float: left;
    width: 33%;
    text-align: left;
}

#pimmslogo{
    margin-top: 1.3em;
    float:left;
    text-align: center;
    width: 32%;
}