<html>
<head>
<title>{% if title %}{{ title }} | {% endif %}P.I.M.M.S</title>
{% block meta %}{% endblock %}
{% block stylesheets %}{% endblock %}
<link rel="stylesheet" type="text/css" href="/css/base.css">
{% block scripts %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<div id="footer">
{% block footer %}{% endblock %}
<span id="gpl">
<a href="http://www.gnu.org/licenses/gpl.html"><img src="/images/gplv3-88x31.png" height="31" width="88" alt="GPLv3"></a>
</span>
</body>
</html>
