{% extends "plotbase.html" %}
{% block plotscript %}
<script>
$(document).ready(function(){
  var line1= {{ args.readings }};
  var dt = new Date(line1[0][0]);
  var dd = dt.getDate();
  var MM = dt.getMonth() + 1;
  var yyyy = dt.getFullYear();
  var fdt = dd + '/' + MM + '/' + yyyy;
  var sdate = new Date();
  var edate = new Date();
  sdate = yyyy+'-'+MM+'-'+dd + ' 00:00:00';
  edate = yyyy+'-'+MM+'-'+dd + ' 23:59:59';

  var plot1 = $.jqplot('plot', [line1], {
      title:'Indoor Temperature ' + fdt,

      axes:{
        xaxis:{
          renderer:$.jqplot.DateAxisRenderer,
          min: sdate,
          max: edate,
          tickInterval: '1 hour',
          tickOptions:{
            formatString:'%H:%M'
          }
        },
        yaxis:{
          tickOptions:{
            formatString:'%.2f'
            }
        }
      },

      series:[{linewidth: 1, 
               markerOptions:{size:0},
               lineWidth: 1,
               shadow: false,
               rendererOptions: {smooth: true}
               }],

      highlighter: {
        show: true,
        sizeAdjust: 20.5
      },
      cursor: {
        show: true,
        zoom: true
      }
  });
});
</script>
{% endblock %}
