<html>
<head>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script type="text/javascript" src="/js/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="/js/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="/js/jqplot/plugins/jqplot.cursor.min.js"></script>
<script type="text/javascript" src="/js/jqplot/plugins/jqplot.highlighter.min.js"></script>

<script>
var plot2 = null;

function fetchAjaxData(url, success) {
    $.ajax({
        url: url,
        dataType:"json",
        success: function(data) {
            success(data);
            console.log('loaded');
        }
    });
}

function createPlot(url) {
    fetchAjaxData(url, function(data) {
        var line1 = [];
        $.each(data.plotdata, function(key, val){
            line1.push([val[0], val[1]])
        });
  var dt = new Date(line1[0][0]);
  var dd = dt.getDate();
  var MM = dt.getMonth() + 1;
  var yyyy = dt.getFullYear();
  sdate = yyyy+'-'+MM+'-'+dd + ' 00:00:00';
  edate = yyyy+'-'+MM+'-'+dd + ' 23:59:59';

        if (plot2 == null) {
            plot2 = $.jqplot('chart2', line1, {

      title:'Indoor Temperature ' + dd+'/'+MM+'/'+yyyy,

      axes:{
        xaxis:{
          renderer:$.jqplot.DateAxisRenderer,
          min: sdate,
          max: edate,
          tickInterval: '1 hour',
          tickOptions:{
            formatString:'%H:%M'
          }
        },
        yaxis:{
          tickOptions:{
            formatString:'%.2f'
            }
        }
      },

      series:[{linewidth: 1, 
               markerOptions:{size:0},
               lineWidth: 1,
               shadow: false,
               rendererOptions: {smooth: true}
               }],

      highlighter: {
        show: true,
        sizeAdjust: 20.5
      },
      cursor: {
        show: true,
        zoom: true
      }
  });


        } else {
            plot2.replot(line1);
            console.log('replotting');
        }
    });
}

$(document).ready(function(){
    var jsonurl = "/json/today.json";

    //Regenerate the plot on button click.
    $('#ajax-button').click(function() {
        createPlot(jsonurl);
    });

    //Generate the plot first time through.
    createPlot(jsonurl);
});

/*
    $.getJSON("/json/today.json", function(data){
       var line1 = []
       $.each(data.plotdata, function(key, val){
           line1.push([val[0], val[1]])
       });
});
*/


</script>
</head>
<body>
<div id="chart2" style="height:300px; width:500px;"></div>
<button id="ajax-button">Ajax retrieve</button>
</div>
</body>
</html>
