<html>
<head>
<title>{% if title %}{{ title }} | {% endif %}Pi.M.M.S</title>
{% block meta %}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="/css/base.css">

{% endblock %}
{% block scripts %}
<!--[if IE]><script language="javascript" type="text/javascript" src="/js/excanvas/excanvas.compiled.js"></script><![endif]-->

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script type="text/javascript" src="/js/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="/js/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="/js/jqplot/plugins/jqplot.cursor.min.js"></script>
<script type="text/javascript" src="/js/jqplot/plugins/jqplot.highlighter.min.js"></script>
<script>
$(function() {
  $( "#datepicker" ).datepicker({
    showButtonPanel: true,
    minDate: {{ args.start }},
    maxDate: {{ args.end }},
    changeMonth: true,
    changeYear: true
  });
});
</script>
{% endblock %}
{% block plotscript %}
{% endblock %}
{% block body %}
<div id="datecontrol">
  <form action="." method="POST">
    <label for="datepicker">Select Date:</label>
    <input type="text" id="datepicker" name="dateselected" size="10"/>
    <input type="submit" name="dform" value="View" />
  </form>
</div>

<div id="plot">
</div>
{% endblock %}
<div id="standardfooter">
<div id="currentTemp"></div>
<div id="pimmslogo"><a href="http://github.com/WillBickerstaff/PiMMS"><img src="/images/pimms.png" height="31" width="175"></a></div>
<div id="gpl">
<a href="http://www.gnu.org/licenses/gpl.html"><img src="/images/gplv3-88x31.png" height="31" width="88" alt="GPLv3"></a>
</div>
</body>
</html>
