{% extends "plotbase.html" %}
{% block plotscript %}
<script>
var plot1 = null;
var replot;

function updateCurrent(val) {
  document.getElementById("currentTemp").innerHTML="<p>Current Temperature: "+val[1]+"&deg;C</p>";
}

function fetchAjaxData(url, success) {
  $.ajax({
    url: url,
    dataType:"json",
    success: function(data) {
      success(data);
    }
  });
}

function createPlot() {
  var jsonurl = "/json/today.json";
  fetchAjaxData(jsonurl, function(data) {
    if (plot1 == null) {
      var dt = new Date(data.plotdata[0][0]);
      var dd = dt.getDate();
      var MM = dt.getMonth() + 1;
      var yyyy = dt.getFullYear();
      fdt = dd + '/' + MM + '/' + yyyy;
      sdate = new Date();
      edate = new Date();
      sdate = yyyy+'-'+MM+'-'+dd + ' 00:00:00';
      edate = yyyy+'-'+MM+'-'+dd + ' 23:59:59';
       
      
        plot1 = $.jqplot('plot', [data.plotdata], {
        title:'Indoor Temperature ' + fdt,

        axes:{
          xaxis:{
            renderer:$.jqplot.DateAxisRenderer,
            min: sdate,
            max: edate,
            tickInterval: '1 hour',
            label: 'Time (UTC)',
            tickOptions:{
              formatString:'%H:%M'
            }
          },
          yaxis:{
            tickOptions:{
              formatString:'%.2f'
              }
          }
        },

        series:[{linewidth: 1, 
                 markerOptions:{size:0},
                 lineWidth: 1,
                 shadow: false,
                 rendererOptions: {smooth: true}
                 }],

        highlighter: {
          show: true,
          sizeAdjust: 20.5
        },
        cursor: {
          show: true,
          zoom: true
        }
      });
    } else {
      plot1.replot({data:[data.plotdata]});
    };
  updateCurrent(data.plotdata[data.plotdata.length-1])
  });
}


$(document).ready(function(){
  createPlot();
  replot = setInterval("createPlot()", 60000);
});
</script>
{% endblock %}
